.uni-list-item {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
}

.uni-list-item:nth-child(odd) {
    background-color: #b6cffb;
    color: black;
}

.uni-list-item:nth-child(even) {
    background-color: beige;
    color: black;
}